.btn-test2 {
    width: 100%;
    padding: 1.2rem;
    color: #767676;
    font-size: 1.6rem;
    font-family: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 0.9rem;
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-test2:hover {
    box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.1);
    /* transform: translateX(4px); */
}

.btn-test {
    text-decoration: none;
    width: 100%;
    color: #e67d22be;
    font-size: 2rem;
    font-family: inherit;
    font-weight: bold;
    border: none;
    background-color: #fdf2e9;
    border-radius: 0.9rem;
    box-shadow: 6px 6px 7px rgba(132, 81, 5, 0.316);
    transition: all 0.3s ease;

    /* padding: 0.5rem 1rem; */
    padding: 1.6rem 3.2rem;
}

.btn-test:hover {
    box-shadow: 12px 12px 7px rgba(228, 119, 11, 0.202);
    /* transform: translateX(4px); */
    color: #e67e22;
    padding-left: 6rem;
}

/* BASE */
.btn-base {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    /* padding: 22rem 3.2rem; */
    border-radius: 0.9rem;
    transition: all 0.4s ease;
    cursor: pointer;
    color: #00000094;
    border: none;
}

/* BOUTON 1 */
.btn-1 {
    font-size: 1.8rem;
    /* background-image: linear-gradient(to right bottom, #ff7700ec, #aa4f01); */
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.803),
        #f3bf912a
    );
    background-color: #fdf2e9;
    /* color: #fdf2e9; */
    color: #b58d67;
    align-self: end;
    justify-self: end;
    padding: 2rem 1.5rem;
    transition: all 0.3s ease;
    /* width: 40%; */
    text-align: center;
    box-shadow: 3px 5px 2px rgb(0 0 0 / 10%);
    width: 100%;
}

.btn-1:hover {
    /* margin-right: 2rem; */
    /* padding: 2rem 6rem; */

    /* margin-right: 1rem; */
    /* border-radius: 0; */
    box-shadow: 10px 10px 2px rgb(0 0 0 / 10%);
    /* box-shadow: 10px 10px 6px #e67d223d; */
    /* width: 110%; */
    /* letter-spacing: 0.03rem; */
    /* translate: -1rem; */
    /* color: #e67d22ad; */
    /* translate: -2rem; */
    translate: -0.2rem 0;

    /* background-color: #00000094; */
}

/*  */
/* BOUTON 2 */
/*  */
.btn-2:link,
.btn-2:visited {
    margin-right: 3rem;

    text-decoration: none;
    font-size: 2rem;
    line-height: 1.6;
    color: #b58d67;
    padding: 1.6rem 3.2rem;
    transition: all 0.4s;
    /* box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 6px 6px 7px rgba(132, 81, 5, 0.316);

    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.803),
        #f3bf912a
    );
}

.btn-2:hover,
.btn-2:active {
    color: #555;
    /* font-weight: bold; */
    /* padding-left: .3rem; */
    /* letter-spacing: 0.03rem; */
    /* background-color: #e67e22; */
    /* box-shadow: 13px 13px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 10px 7px rgba(228, 119, 11, 0.305);

    /* margin-left: 1rem;
    margin-right: 2rem; */
    color: #e67e22;
    translate: 0 -0.5rem;
}

/*  */
/* BOUTON 2 A */
/*  */
.btn-2a:link,
.btn-2a:visited {
    margin-right: 3rem;

    text-decoration: none;
    font-size: 2rem;
    line-height: 1.6;
    color: #b58d67;
    padding: 2rem 1.5rem;
    transition: all 0.4s;
    /* box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 6px 6px 7px rgba(132, 81, 5, 0.316);

    background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.803),
        #f3bf912a
    );
}

.btn-2a:hover,
.btn-2a:active {
    color: #555;
    /* font-weight: bold; */
    /* padding-left: .3rem; */
    /* letter-spacing: 0.03rem; */
    /* background-color: #e67e22; */
    /* box-shadow: 13px 13px 2px rgba(0, 0, 0, 0.1); */
    box-shadow: 10px 10px 7px rgba(228, 119, 11, 0.305);

    margin-left: 1rem;
    margin-right: 2rem;
    color: #e67e22;
}

/*  */
/* BOUTON 3 */
/*  */
.btn-3:link,
.btn-3:visited {
    margin-right: 3rem;

    text-decoration: none;
    font-size: 2rem;
    line-height: 1.6;
    color: #fdf2e9;
    padding: 1.6rem 3.2rem;
    transition: all 0.4s;
    /* box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.1); */

    box-shadow: 8px 8px 7px rgba(132, 81, 5, 0.316);

    background-image: linear-gradient(to right bottom, #ff7700ec, #aa4f01);
    /* background-image: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.803),
        #f3bf912a
    ); */
}

.btn-3:hover,
.btn-3:active {
    /* color: #767676; */
    /* font-weight: bold; */
    /* padding-left: 3rem; */
    /* letter-spacing: 0.03rem; */
    /* background-color: #e67e22; */
    /* box-shadow: 13px 13px 2px rgba(0, 0, 0, 0.1); */

    /* box-shadow: 10px 10px 7px rgba(73, 38, 4, 0.204); */

    box-shadow: 12px 12px 4px rgba(143, 74, 4, 0.206);

    /* margin-left: 1rem; */
    translate: 0 -0.5rem;

    /* margin-right: 2rem; */
}
