.section-pricing {
    background-image: linear-gradient(#f8d8bd, WHITE);

    /* background-image: linear-gradient(#fdf2e9,WHITE); */
    padding: 9.6rem 0;
}

/* .btn-custom-1:hover {
    scale: inherit;
} */

.pricing-plan {
    border-radius: 1.1rem;
    width: 75%;
}

.pricing-plan--starter {
    justify-self: end;
    border: 5px solid #fdf2e9;
    padding: 4.8rem;
}

.invisible-icon {
    color: transparent;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
    padding: 5.3rem;
}

.pricing-plan--complete::after {
    content: "Best value";
    position: absolute;
    top: 5%;
    right: -18%;

    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    color: #6c543dde;
    /* color: #888582de; */
    text-transform: uppercase;

    padding: 0.8rem 8rem;
    background-color: #ffd43b;
    background-color: #f8d8bd;
    /* background-color: #ff77008f; */

    box-shadow: 3px 3px 6px rgba(132, 81, 5, 0.074);

    transform: rotate(45deg);
}

.plan-header {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan-name {
    color: #cf711c;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    /* letter-spacing: 0.75rem; */
    margin-bottom: 2rem;
}

.plan-price {
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    color: #555;
    color: #444;
    /* color: #4d3b2b; */

    margin-bottom: 1.6rem;
}

.plan-price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: 0.8rem;
}

.plan-text {
    font-size: 1.8rem;
    line-height: 1.6;
    color: #6f6f6f;
    color: #6c543dde;
    color: #4f4437e8;
    color: #68503aa0;
}

.plan-sign-up {
    text-align: center;
    margin-top: 4.8rem;
}

.plan-details {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    color: #9b7857b8;

}

.pricing-box-shadow {
    box-shadow: 6px 6px 7px rgb(132 81 5 / 32%);
    transition: all 0.4s ease;
}
.pricing-box-shadow:hover {
    box-shadow: 16px 16px 7px rgb(132 81 5 / 32%);
}
.pricing-box-shadow {
    box-shadow: 6px 6px 7px rgb(132 81 5 / 32%);
}
