/* 
--------------------------------------
----- 01  TYPOGRAPHY SYSTEM (px) -----

10 / 12 / 14 / 16 / 18 / 20 / 24 / 
30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights : 
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Heights : 
Default: 1
Small: 1.05
Paragraph Default: 1.5

- Letter Spacing
-0.5px
0.75
----------------------
----- 02  COLORS -----

- Primary: #e67e22 
- Tints: #fdf2e9 #f8d8bd #f3bf91
- Shades: #cf711f
- Accents:
- Greys: 
#6f6f6f      ( lightest grey allowed on  #fdf2e9 )
#555
#333
#51cf66  #94d82d  #ffd43b
-------------------
----- SHADOWS -----


-------------------------
----- BORDER-RADIUS -----
default : 0.9rem
medium : 1.1rem
----------------------- 
----- WHITE SPACE -----

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 
64 / 80 / 96 / 128
-----------------------
-----------------------
*/

/* *********************** */
/* GENERAL COMPONENTS */
/* *********************** */
